.breadCrumbsContainer {
    font-size: var(--small-body);
    font-weight: 700;
    white-space: nowrap;
    line-height: 1.4;
    color: var(--gray-01);
}

.flexContainer {
    display: flex;
}

.breadCrumbsContainer ol {
    overflow-x: auto;
    list-style: none;
    margin-left: 0;
    padding-left: 4%;
}

.breadCrumbsContainer ol li {
    display: flex;
    align-items: center;
}

.breadCrumbsContainer ol li a {
    text-decoration-line: underline;
    cursor: pointer;
}

.breadCrumbsContainer ol li:last-child {
    color: var(--black);
}

.breadCrumbsContainer ol li svg {
    display: block;
}

