:root {
    /* color */
    --white: #ffffff;
    --gray-01: #adadad;
    --gray-02: #d9d9d9;
    --gray-03: #f2f2f2;
    --black: #333333;
    --accent: #af52de;

    /* typography(font-size) */
    --body: 1rem;
    --small-body: 0.875rem;
    /* 14px */
    /* 16px */
    --heading1: calc(1rem * 24 / 16);
    /* 24px */
    --heading2: clamp(2rem, 1.0458rem + 4.0712vw, 3rem);
    /* 32-48px */
    --heading3: clamp(1.125rem, 0.7672rem + 1.5267vw, 1.5rem);
    /* 18-24px */
    --small-heading2: 1rem;
    /* space */
    --space: clamp(1.875rem, 0.0859rem + 7.6336vw, 3.75rem);
    /* 30-60px */
}

/* basic setting */
body {
    color: var(--black);
    font-size: var(--body);
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--gray-03);
}

h1 {
    font-size: var(--heading1);
    font-weight: 700;
}

h2 {
    font-size: var(--heading2);
    font-weight: 700;
}

h3 {
    font-size: var(--heading3);
}

/* next/image */
div>img {
    transition: 0.2s;
}

/* reset */
body,
h1,
h2,
h3,
p,
figure,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}