.stack {
    padding: var(--space-sm) 0;
    margin-bottom: 60px;
}

.stack>*+* {
    margin-top: var(--stack-space, 1em);
}

.subtitle {
    font-size: var(--small-heading2);
    font-weight: 700;
}

.title {
    --stack-space: 30px;
}

.publish {
    display: flex;
    gap: 0.5em;
    color: var(--gray-01);
    font-size: var(--small-heading3);
    justify-content: center;
}

.stack h2 {
    font-size: 1.5rem;
    color: var(--gray-01);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.stack h3 {
    font-size: 1.5rem;
    color: var(--black);
    text-align: center;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .stack h3 {
        text-align: left;
        width: 56.39%;
        margin-left: auto;
        margin-right: auto;
    }
    .publish {
        justify-content: start;
        margin-left: 21.67%;
    }
}