.worksContainer {
    margin-top: 120px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.worksContainer h2 {
    font-size: 1rem;
    color: var(--gray-01);
    margin-top: 10px;
    text-align: center;
}

.worksContainer article figure {
    margin: 0 auto;
    text-align: center;
}

.worksContainer article figure img {
    width: 84%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 768px) {
    .worksContainer {
        grid-template-columns: 1fr 1fr;
        width: 77.78%;
        margin: 120px auto 60px;
        gap: 120px;
    }

    .worksContainer article figure img {
        width: 100%;
    }
}