.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideBySide {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .sideBySide {
        flex-direction: row;
        justify-content: space-between;
    }

    .sideBySideCenter {
        flex-direction: row;
        justify-content: center;
    }
}

.sideBySideCenter {
    composes: sideBySide;
    text-align: center;
}

@media (min-width: 768px) {
    .sideBySideCenter {
        text-align: left;
    }
}

.uDisplaySpOnly {
    display: block;
}

@media (min-width: 768px) {
    .uDisplaySpOnly {
        display: none;
    }
}

.uDisplayPcOnly {
    display: none;
}

@media (min-width: 768px) {
    .uDisplayPcOnly {
        display: block;
    }
}