.pSectionWorks {
    margin-bottom: 60px;
}

.pSectionWorks h2 {
    margin-top: 1.875rem;
}

.pSectionWorks h3 {
    font-size: 1rem;
    margin-bottom: 1.875rem;
}

@media (min-width: 768px) {
    .pSectionWorks h2 {
        margin-top: 3.75rem;
    }

    .pSectionWorks h3 {
        margin-bottom: 3.75rem;
    }
}

.pSectionWorks h2, .pSectionWorks h3 {
    color: var(--gray-01);
    text-align: center;
}

.pSectioinWorksItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 60px;
}

.pSectioinWorksItems h2 {
    font-size: 1rem;
    color: var(--gray-01);
    margin-top: 10px;
}

@media (min-width: 768px) {
    .pSectioinWorksItems {
        flex-direction: row;
        gap: 120px;
        width: 100%;
        flex-wrap: wrap;
    }
}

.pSectioinWorksItems .post a {
    display: block;
}

.pSectioinWorksItems .post a:hover {
    cursor: pointer;
    opacity: .8;
}

.pSectioinWorksItems .post a figure img {
    width: 19.6875rem;
    height: 180px;
}

@media (min-width: 768px) {
    .pSectioinWorksItems .post a figure img {
        width: 31.25rem;
        height: 300px;
    }
}

.cMoreButton {
    display: block;
    width: 213px;
    height: 65px;
    border-radius: 50px;
    background-color: var(--accent);
    text-align: center;
    padding: 10px;
    line-height: 1.7;
    margin-right: auto;
    margin-left: auto;
}

.cMoreButton a {
    color: var(--white);
    font-size: 1.5rem;
}

.cMoreButton a:hover {
    cursor: pointer;
}